<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learning.mapper.PersonMapper">

    <insert id="addPerson" parameterType="learning.pojo.Person">
        insert into person(id, name, age, gender, position)
        values (#{id}, #{name}, #{age}, #{gender}, #{position})
    </insert>

    <delete id="deletePersonById" parameterType="java.lang.Integer">
        delete
        from person
        where id = #{id}
    </delete>

    <update id="updatePerson" parameterType="learning.pojo.Person">
        update person
        set name     = #{name},
            age      = #{age},
            gender   = #{gender},
            position = #{position}
        where id = #{id}
    </update>

    <select id="queryPersonById" parameterType="java.lang.Integer" resultType="learning.pojo.Person">
        select *
        from person
        where id = #{id}
    </select>

    <select id="queryAllPersons" resultType="learning.pojo.Person">
        select *
        from person
    </select>
</mapper>